# Probability of weather in two cities

In [10]:
# Run this cell unchanged
import pandas as pd

data = [{'Sunny': 6, 'Cloudy': 2, 'Rainy': 0},
       {'Sunny': 1, 'Cloudy': 5, 'Rainy': 2},
       {'Sunny': 0, 'Cloudy': 1, 'Rainy': 3}]

df = pd.DataFrame(data, index = ['Sunny', 'Cloudy', 'Rainy'])
df.head()

        Cloudy  Rainy  Sunny
Sunny        2      0      6
Cloudy       5      2      1
Rainy        1      3      0

In [2]:
# __SOLUTION__
# Run this cell unchanged
import pandas as pd

data = [{'Sunny': 6, 'Cloudy': 2, 'Rainy': 0},
       {'Sunny': 1, 'Cloudy': 5, 'Rainy': 2},
       {'Sunny': 0, 'Cloudy': 1, 'Rainy': 3}]

df = pd.DataFrame(data, index = ['Sunny', 'Cloudy', 'Rainy'])
df.head()

        Cloudy  Rainy  Sunny
Sunny        2      0      6
Cloudy       5      2      1
Rainy        1      3      0

The above dataframe represents the joint weather events for two neighboring cities over a time frame of 20 days. 

The index represents ```Town 1``` and the columns represent ```Town 2```

The values represent the number of days the two weather events occurred.
>ie. There were 2 days out of 20 it was Sunny in ```Town 1``` and Cloudy in ```Town 2```

## Question 1

What is the probability of it being Sunny in both towns at the same time?

$P(Town1=Sunny ∩ Town2=Sunny)$

In [ ]:
sunny_town1_sunny_town2 = None

In [3]:
# __SOLUTION__
sunny_town1_sunny_town2 = 6/20

## Question 2

What is the probability of it not being Rainy in ```Town1``` and Rainy in ```Town2```?

$P(Town1 ∈ {Sunny ∪ Cloudy} ∩ Town2=Rainy)$

In [ ]:
no_rain_town1_rain_town2 = None

In [4]:
# __SOLUTION__
no_rain_town1_rain_town2 = 0/20 + 2/20

## Question 3

What is the probability of it being Sunny in ```Town2``` <u>regardless of the weather</u> in ```Town1```?

$$P(Town2=Sunny) =$$ 
$$P(Town2=Sunny ∩ Town1=Sunny) + $$
$$P(Town2=Sunny ∩ Town1=Cloudy)+ $$
$$P(Town2=Sunny ∩ Town1=Rainy)$$

In [ ]:
sunny_town2 = None

In [5]:
# __SOLUTION__

sunny_town2 = df.Sunny.sum()/20

## Question 4

What is the probability  of it being Sunny in ```Town1``` given that it is Sunny in ```Town2```?

$P(Town1=Sunny|Town2=Sunny) = \displaystyle \frac{P(Town1=Sunny∩Town2=Sunny)}{P(Town2=Sunny)}$

In [ ]:
sunny_town1_given_sunny_town2 = None

In [6]:
# __SOLUTION__

sunny_town1_given_sunny_town2 = sunny_town1_sunny_town2/sunny_town2

## Question 5

What is the probability of it being Sunny in ```Town2``` given that it is Sunny in ```Town1```?

$P(Town2=Sunny|Town1=Sunny) = \displaystyle \frac{P(Town2=Sunny∩Town1=Sunny)}{P(Town1=Sunny)}$

In [8]:
sunny_town1 = df.loc['Sunny'].sum()/20
sunny_town2_given_sunny_town1 = sunny_town1_sunny_town2/sunny_town1